body {
  font-family: "Roboto", sans-serif;
  background-image: url("train.jpg");
  background-size: cover;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
  font-size: xx-large;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f5b506;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e9af0e;
}

p3 {
  margin-top: 20px;
  color: #000000;
  font-size: large;
}

a {
  color: #251d97;
  font-weight: bold;
}
